odoo-addon-pos_order_split_invoice @ git+https://github.com/OCA/pos.git@refs/pull/1129/head#subdirectory=pos_order_split_invoice
odoo-addon-pos_order_split_invoice_check @ git+https://github.com/OCA/pos.git@refs/pull/1310/head#subdirectory=pos_order_split_invoice_check
